<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orders.mapper.AccountWaterMapper">
    <!-- application.yml中type-aliases-package:未配置则需要用全名-->

    <select id="getAccountWater" resultType="com.orders.dao.AccountWater">
        SELECT id,phone,category,info,cMoney,rMoney,tTime FROM account_water where phone=#{0}
    </select>

     <select id="getAccountWaterByTime" resultType="com.orders.dao.AccountWater">
        SELECT id,phone,category,info,cMoney,rMoney,tTime FROM account_water where phone=#{0} and tTime bwteen #{1} and #{2}
    </select>

      <select id="getAccountWaterByCategory" resultType="com.orders.dao.AccountWater">
        SELECT id,phone,category,info,cMoney,rMoney,tTime FROM account_water where phone=#{0} and category=#{1}
    </select>

   <insert id="addAccountWater" parameterType="com.orders.dao.AccountWater"
            useGeneratedKeys="true" keyProperty="id">
        insert into buyer(phone,category,info,cMoney,rMoney,tTime)
        values (#{phone},#{category},#{info},#{cMoney},#{rMoney},#{tTime})
    </insert>


   
</mapper>